<h2>D1 SQL Connector</h2>

<form (ngSubmit)="addItem()">
    <input [(ngModel)]="newItem.name" name="name" placeholder="New item name" required>
    <button type="submit">Add Item</button>
</form>

<ul>
    <li *ngFor="let item of items">
        {{ item.name }}
        <button (click)="deleteItem(item.id!)">Delete</button>
        <button (click)="editItem(item)">Edit</button>
    </li>
</ul>

<div *ngIf="editingItem">
    <h3>Edit Item</h3>
    <input [(ngModel)]="editingItem.name" name="edit-name">
    <button (click)="updateItem()">Update</button>
</div>