<p>album-upload works!</p>

<div class="card car_css">
  <h3>檔案上傳(單筆)</h3>
  <input type="file" (change)="onFileSelected($event)" />
  <p-button (click)="onUpload_single()" [disabled]="!selectedFile"
    >上傳檔案</p-button
  >
</div>

<div class="card car_css">
  <h3>多檔案上傳</h3>
  <input type="file" (change)="onFilesSelected($event)" multiple />

  <ul *ngIf="selectedFiles.length > 0">
    <li *ngFor="let file of selectedFiles">
      {{ file.name }} ({{ file.size }} bytes)
    </li>
  </ul>

  <p-button (click)="onUpload_single()" [disabled]="selectedFiles.length === 0">
    開始上傳
  </p-button>
</div>

<div class="card car_css">
  <h3>PrimeNG 檔案上傳</h3>
  <p-toast />
  <p-fileupload
    name="demo[]"
    maxFileSize="1000000"
    mode="advanced"
    chooseLabel="選擇照片"
    uploadLabel="開始上傳"
    cancelLabel="全部清空"
    chooseStyleClass="my-custom-choose"
    uploadStyleClass="my-custom-upload"
    cancelStyleClass="my-custom-cancel"
    (onSelect)="onPrimeNGFilesSelected($event)"
    (uploadHandler)="onUpload_single()"
    [multiple]="true"
    [customUpload]="true"
  >
    <ng-template #empty>
      <div>將文件拖放到此處即可上傳。</div>
    </ng-template>
  </p-fileupload>
</div>
