<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <title>關於我 - 自我介紹</title>
</head>

<body>
    <div class="card">
        <h1>👋 自我介紹</h1>
        <p>您好，我是 <strong>WillyChen</strong>，目前擔任 <strong>軟體工程師</strong>。</p>

        <p class="section-title">🛠️ 前端技能</p>
        <ul>
            <li>Angular</li>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>HTML / CSS</li>
            <li>Cloudflare Workers</li>
        </ul>

        <p class="section-title">🛠️ 後端技能</p>
        <ul>
            <li>C#</li>
            <li>COBOL</li>
            <li>VB</li>
            <li>JAVA</li>
        </ul>

        <p class="section-title">🎯 興趣</p>
        <ul>
            <li>烘焙</li>
            <li>攝影</li>
            <li>軟體製作</li>
        </ul>

        <p class="section-title">📫 聯絡方式</p>
        <!-- <p>Email: <a href="mailto:your@email.com">your@email.com</a></p> -->
        <p>Email:willy77423&#64;gmail.com</p>
    </div>
</body>

</html>
